<footer class="main">
  <div class="container container-m footer-buttons">
      <div><a href="https://pas.org/"><img width="88" height="31" src="/assets/img/buttons/drums.gif" alt="DRUMS!"></a></div>
      <div><a href="https://11ty.dev"><img width="88" height="31" src="/assets/img/buttons/built-with-eleventy.gif" alt="Made with Eleventy."></a></div>
      <div><a href="https://ko-fi.com/s/798b83fbcc"><img width="88" height="31" src="/assets/img/buttons/coffee.svg" alt="Coffee Powered."></a></div>
      <div><a href="https://home.omg.lol/referred-by/drumsensei"><img width="88" height="31" src="/assets/img/buttons/omglol.svg" alt="Member of omg.lol."></a></div>
      <div><a href="https://ko-fi.com/s/4662b19f61"><img width="88" height="31" src="/assets/img/buttons/human.svg" alt="Made by a human."></a></div>
      <div><a href="https://social.lol/@drumsensei"><img width="88" height="31" src="/assets/img/buttons/mastodon.gif" alt="Follow me on Mastodon."></a></div>
      <div><a href="https://people.pledge.party"><img width="88" height="31" src="/assets/img/buttons/people-pledge.svg" alt="The people pledge."></a></div>
      <div><a href="https://mikemathew.me"><img width="88" height="31" src="/assets/img/buttons/drumsensei.gif" alt="drumsensei."></a></div>
  </div>

  <div class="container container-sm">
    <div><p>© {% year %} Mike Mathew</p></div>
  </div>
</footer>
