<a style="display: none;" rel="me" href="https://social.lol/@drumsensei">Mastodon</a>
<a style="display: none;" href="https://github.com/m2mathew" rel="me">github.com/m2mathew</a>
<a style="display: none;" href="https://proven.lol/ab2cf7">proven.lol/ab2cf7</a>

<span class="p-author h-card" style="display: none">
    <img class="u-photo" src="/assets/indieweb/mike_at_chicago_blue_man_group.jpeg" alt="Mike Mathew's avatar">
    <img class="u-logo" src="/assets/indieweb/drumsensei_drum_avatar.png" alt="Mike Mathew's logo">
    <a class="p-name" href="https://mikemathew.me" rel="author">Mike Mathew</a>
    <span class="p-note">{{ site.config.description }}</span>
    <a rel="me" class="u-url u-uid" href="https://mikemathew.me{{ page.url }}">Permalink</a>
</span>
