.alert {
    position: relative;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 15px;
    margin-block-end: 20px;
    margin-block-start: 10px;
    border: 1px solid var(--secondary);
    color: var(--offwhite);
}

.recipe .alert {
    font-size: 0.9em;
}

.alert h1 {
    font-family: var(--base);
}

.alert p:first-child,
.alert p:last-child {
    margin: 0;
}

.alert p {
    margin: 5px 0;
}

.alert .alert-icon {
    position: absolute;
    top: -18px;
    left: 8px;
    background-color: oklch(var(--bg-lightness) var(--bg-chroma) var(--bg-hue));
    background-size: 150px 150px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E %3Cfilter id='noiseFilter'%3E %3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='2' result='noise' /%3E %3CfeColorMatrix type='saturate' values='0' result='grayscale' /%3E %3CfeComponentTransfer%3E %3CfeFuncA in='grayscale' type='linear' slope='0.4' result='updated' /%3E %3C/feComponentTransfer%3E %3CfeMerge%3E %3CfeMergeNode in='noise' /%3E %3CfeMergeNode in='updated' /%3E %3C/feMerge%3E %3C/filter%3E %3Crect width='100%25' height='100%25' opacity='0.23' filter='url(%23noiseFilter)'/%3E %3C/svg%3E");
    padding: 5px;
}

.alert svg {
    width: 20px;
    height: 20px;
}

.alert .alert-calendar {
    color: var(--color-warning);
}

.alert .alert-repost {
    color: var(--secondary);
}

.alert .alert-note {
    color: var(--tertiary);
}
