.page-header {
    text-align: center;
    margin-block-start: 10px;
}

.post-subtitle {
    font-size: 0.9em;
    font-style: italic;
}

h2 + .post-subtitle p {
    margin-top: 0;
}

.post-meta {
    margin-block-start: 25px;
    margin-block-end: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-left: 2px solid var(--primary);
    background-color: var(--bg-darker);
    padding: 15px 0;
}

.post-meta div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.post-meta div svg {
    width: 20px;
    height: 20px;
    margin-inline-end: 5px;
}
