.testimonial-item {
  margin-block-end: 0.75em;
}

.testimonial-item--data {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 10px;
  align-items: center;
}

.testimonial-item--name {
  display: flex;
  align-items: center;
}

.testimonial-item--text {
    font-size: 0.9em;
    white-space: pre;
}

.testimonial-item--icon > svg {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  margin-inline-end: 0.5rem;
}
