.testimonial-item {
  margin-block: 2rem;
}

.testimonial-item--data {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 10px;
  align-items: center;
}

.testimonial-item--data > time {
  font-weight: 700;
}

.testimonial-item--text {
  font-size: 0.9em;
  white-space: pre;
}
