.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    margin-block-end: 10px;
}

.container-m {
    width: 100%;
    max-width: 60rem;
}

.container-sm {
    width: 100%;
    max-width: 50rem;
}
