.home-projects {
    display: flex;
}

.home-project {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-project--image {
    max-height: 72px;
    max-width: 100%;
    margin-inline-end: 24px;
}

.home-project a {
    padding: 10px 0;
    font-family: var(--base);
    width: 100%;
    text-align: center;
}

.home-project a:hover {
    color: var(--purewhite);
}
