nav.main {
    height: auto;
    padding: 5px 0;
    overflow: auto;
}

nav.main .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin-block-end: 5px;
}

@media (max-width: 550px) {
    nav.main .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.nav-link,
nav.main a {
    text-decoration: none;
    background-color: var(--offwhite);
    color: var(--nav-text);
    text-transform: lowercase;
    font-size: .9em;
    font-family: var(--tb-sb);
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 2px;
    padding: 2px 0;
    text-decoration: none;
    box-shadow: var(--double-shadow);
    transition: box-shadow .5s ease-in-out;
}

.nav-link:hover, nav.main a:hover {
    box-shadow: none;
}

nav.main a.active {
    padding-left: 5px;
}
nav.main a.active:after {
    content: '.';
    color: var(--primary);
}
