nav.main {
    height: auto;
    padding: 5px 0;
    overflow: auto;
}

nav.main .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin-block-end: 5px;
}

@media (max-width: 550px) {
    nav.main .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.nav-link,
nav.main a {
    text-transform: lowercase;
    font-size: 0.9em;
    font-family: var(--semibold);
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 1px;
    padding: 2px 0;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

nav.main a > .alt {
    font-feature-settings: 'ss01';
}

.nav-link:hover, nav.main a:hover {
    box-shadow: none;
    background-color: var(--offwhite);
    color: var(--nav-text);
}

nav.main a.active {
  padding-inline-start: 5px;
}
