.header-nav {
  width: 100%;
  margin-top: 10px;
  border-block-end: 1px solid var(--offwhite-subtle-extra);
  border-block-start: 1px solid var(--offwhite-subtle-extra);
}

.header-nav:empty {
  display: none;
}

.header-nav ul {
  display: flex;
  list-style-type: none;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-block-start: 0;
  padding-inline-start: 0;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin-block-end: 0;
  padding: 7px 0 9px 0;
}

.header-nav li ul {
  display: none;
}
