:root {
    /* from https://texture.alanwsmith.com/ */
    --bg-lightness: 0.035;
    --bg-chroma: 0.1487;
    --bg-hue: 223;

    --bg-darker: #1e1d1b;
    --offwhite: #F8F4E5;
    --offwhite-subtle: #c4baa8;
    --offwhite-subtle-extra: #57524a;
    --purewhite: #ffffff;
    --nearblack: #1a1a24;
    --code-black: #050505;
    --primary: #e33d94;
    --primary-subtle: #ef77ba;
    --primary-subtle-dark: #652a4c;
    --primary-links: #f6abd6;
    --secondary: #4394A8;
    --secondary-glare: #98e2d8;
    --tertiary: #fd9e2b;
    --nav-text: #1B2528;
    --double-shadow: rgba(0, 225,	213, 0.5) 3px 3px 0px;
    --semibold: 'Clauthbound-Semibold', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base: 'Clauthbound-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    --color-mastodon: #8373e7;
    --color-rss: #f36b2b;
    --color-warning: #ffca77;
}
