:root {
    /* from https://texture.alanwsmith.com/ */
    --bg-lightness: 0.035;
    --bg-chroma: 0.1487;
    --bg-hue: 223;

    --offwhite: #F8F4E5;
    --offwhite-subtle: #c4baa8;
    --offwhite-subtle-extra: #57524a;
    --purewhite: #ffffff;
    --nearblack: #1a1a24;
    --code-black: #050505;
    --primary: #e33d94;
    --primary-subtle: #ef77ba;
    --primary-subtle-dark: #652a4c;
    --primary-links: #f6abd6;
    --secondary: #4394A8;
    --tertiary: #fd9e2b;
    --nav-text: #1B2528;
    --double-shadow: rgba(227, 61, 148, 0.7) 3px 3px 0px, rgba(76, 162, 183, 0.7) -3px -3px 0px;
    --tb-sb: 'Turbeau-Semibold', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --tb-reg: 'Turbeau-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    --color-mastodon: #8373e7;
    --color-rss: #f36b2b;
    --color-warning: #ffd43b;
}
