---
title: /uses
subtitle: "Stuff I Use"
layout: base
permalink: 'uses/index.html'
eleventyNavigation:
  key: uses
  parent: Home
---

<a href="/contact">Email me</a> if you having suggestions for improvements on these items.

<h3>Hardware</h3>


<h3>Software</h3>


<h3>Services</h3>

